<header class="py-3 mb-2 border-bottom" style="background-color: #b5b9bb">
  <div
    class="container-fluid d-grid gap-3 align-items-center"
    style="grid-template-columns: 1fr 2fr"
  >
    <div>
      <a class="navbar-brand menu-button" href="#">
        <i class="fa-solid fa-bars fa-xl" style="margin: auto"></i>
      </a>
    </div>
    <div class="d-flex align-items-center justify-content-end">
      <div class="flex-shrink-0 dropdown">
        <a
          href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ current_user.nome }}
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#"
              ><i class="fas fa-id-card"></i> Perfil</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><i class="fas fa-sliders-h"></i> Configurações</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="{{ url_for('authentication.logout') }}"
              ><i class="fas fa-sign-out"></i> Sair</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
