{% with messages = get_flashed_messages() %} 
{% if messages %} 
{% include 'components/toasts.html' %} 
{% endif %} 
{% endwith %} 
{% block screen_body %}
<h2 class="fs-4">Encontros Cadastrados</h2>
<hr>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a href="/pages{{ url_for('encontro.register') }}" class="btn btn-primary" data-link>+ Novo</a>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Pesquisar"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for encontro in encontros %}
    <tr>
      <th scope="row">{{ encontro.id }}</th>
      <td>{{ encontro.nome }}</td>
      <td>
        <a class="btn btn-sm icon-link icon-link-hover" href="#">
          <i class="fas fa-pen"></i>
        </a>
        <a class="btn btn-sm icon-link icon-link-hover" href="/pages{{ url_for('encontro.teams') }}" data-link>
            <i class="fas fa-people-group"></i>
          </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} 
{% block script_action %}
<script>
  const toastLiveExample = document.getElementById("liveToast");
  const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);

  toastBootstrap.show();
</script>
{% endblock %}
