<div class="d-flex justify-content-between">
  <h2 class="fs-4">Cadastro de Usuário</h2>
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="" data-link>Encontros</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Cadastro de Usuário
      </li>
    </ol>
  </nav>
</div>
<hr />
<form
  action="{% if form.id.data %}{{ url_for('usuario.editar', id_usuario=form.id.data) }}{% else %}{{ url_for('usuario.registrar') }}{% endif %}"
  target="/pages{{ url_for('usuario.index') }}"
  method="post"
  class="row g-3"
  novalidate
>
  {{ form.hidden_tag() }}
  {% for field in form %}
    {% if not field.type in ('HiddenField', 'CSRFTokenField') %}
    {% if field.type == 'BooleanField' %}
    <div class="col-md-6 m-auto">
      <div class="form-check form-switch">
        {{ field(class_="form-check-input") }}
        {{ field.label(class_="form-check-label") }}
      </div>
    </div>
    {% else %}
    <div class="col-md-6">
      {{ field.label(class_="form-label") }}
      {{ field(class_="form-control") }}
    </div>
    {% endif %}
    {% endif %}
  {% endfor %}  
  <hr class="my-4" />
  <div class="row g-3">
    <div class="col-6">
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a
          href="/pages{{ url_for('usuario.index') }}"
          style="width: 100px"
          class="btn btn-secondary"
          type="button"
          data-link
          >Cancelar</a
        >
      </div>
    </div>
    <div class="col-6">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          type="submit"
          style="width: 100px"
          class="btn btn-dark"
          type="button"
        >
          Salvar
        </button>
      </div>
    </div>
  </div>
</form>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const form = document.querySelector("form");
    const formValidations = [
      {
        selector: "#nome",
        validations: [
          { handler: isRequired, message: "Por favor informe o nome" },
        ],
      },
      {
        selector: "#username",
        validations: [
          { handler: isRequired, message: "Por favor informe o nome" },
          { handler: isEmailValid, message: "Formato de email inválido" },
        ],
      },
    ];

    form.addEventListener("submit", (event) => {
      event.preventDefault();
      event.stopPropagation();
      event.target.classList.add("was-validated");
      const itemId = event.target.querySelector("#id");
      const successMsg = itemId.value
        ? "Usuário atualizado com sucesso"
        : "Usuário criado com sucesso";

      if (validateForm(formValidations)) {
        sendFormData(event.target, successMsg);
      }
    });
  })();
</script>
