* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.sidebar { 
    width: 250px; 
    background: black; 
    color: white;
}

.sidebar li a:hover {
    background: #eee;
    color: black;
    border-radius: 8px;
}

.sidebar li a {
    color: #eee;
}

.data-not-found {
    background: url('/static/img/nodatafound.png');
    height: 437px;
    width: 840px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.data-not-found h1 {
    font-size: 2rem;
    text-align: center;
}