<div class="d-flex justify-content-between">
  <h2 class="fs-4">Cadastro de Círculo</h2>
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="/pages{{ url_for('movimento.index')}}" data-link>Movimentos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="#" data-link>Encontros</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="#" data-link>Círculos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Novo Círculo</li>
    </ol>
  </nav>
</div>
<hr />
<form
  action="{% if form.id.data %}{{ url_for('movimento.encontro.editar_circulo', id_movimento=id_movimento, id_encontro=id_encontro, id_circulo=form.id.data) }}{% else %}{{ url_for('movimento.encontro.novo_circulo', id_movimento=id_movimento, id_encontro=id_encontro) }}{% endif %}"
  target="/pages{{ url_for('movimento.encontro.circulos', id_movimento=id_movimento, id_encontro=id_encontro) }}"
  method="post"
  novalidate
>
  {{ form.csrf_token }} {% if form.id.data %}
  <input type="hidden" name="id" id="iptId" value="{{ form.id.data }}" />
  {% endif %}
  <div class="row g-3 mb-3">
    <div class="col-md-6">
      <label for="iptNome" class="form-label">Nome</label>
      <input
        type="text"
        value="{% if form.nome.data %}{{ form.nome.data }}{% endif %}"
        name="nome"
        class="form-control"
        id="iptNome"
        autofocus
      />
    </div>
    <div class="col-md-6">
      <label for="iptCor" class="form-label">Cor</label>
      <input
        type="color"
        name="cor"
        class="form-control form-control-color w-100"
        id="iptCor"
        value="{% if form.cor.data %}{{ form.cor.data }}{% endif %}"
        title="Selecione a cor"
      />
    </div>
  </div>
  <div class="row g-3 mb-3">
    <div class="col-md-6">
      <label for="iptCoord" class="form-label">Casal Coordenador</label>
      <select
        style="width: 100%"
        class="js-example-basic-single"
        name="id_coordenador"
      >
        <option value="">Selecione...</option>
      </select>
    </div>
  </div>
  <hr class="my-4" />
  <div class="row g-3">
    <div class="col-6">
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a
          href="/pages{{ url_for('movimento.encontro.circulos', id_movimento=id_movimento, id_encontro=id_encontro) }}"
          style="width: 100px"
          class="btn btn-secondary"
          type="button"
          data-link
          >Cancelar</a
        >
      </div>
    </div>
    <div class="col-6">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          type="submit"
          style="width: 100px"
          class="btn btn-dark"
          type="button"
        >
          Salvar
        </button>
      </div>
    </div>
  </div>
</form>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    "use strict";

    $(document).ready(function () {
      const selectCoordenadores = $(".js-example-basic-single").select2({
        theme: "bootstrap-5",
        ajax: {
          url: "{{ url_for('casal.buscar_por_filtro') }}",
          dataType: "json",
          delay: 250,
          data: function (params) {
            var query = {
              filtro: params.term,
              encontro: "{{ id_encontro }}",
            };            
            return query;
          },
          processResults: function (data) {
            return {
              results: data.map((item) => ({ id: item.id, text: item.nome })),
            };
          },
        },
      });
    
      {% if form.id.data and form.id_coordenador.data %}
      const newOption = new Option("{{ form.coordenador.data }}", {{ form.id_coordenador.data }}, true, true);
      selectCoordenadores.append(newOption).trigger('change');
      {% endif %}
    });

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const form = document.querySelector("form");

    form.addEventListener("submit", (event) => {
      event.preventDefault();
      event.stopPropagation();
      event.target.classList.add("was-validated");
      const itemId = event.target.querySelector("#iptId");
      const successMsg = itemId
        ? "Círculo atualizado com sucesso"
        : "Círculo criado com sucesso";

      if (validateForm([])) {
        sendFormData(event.target, successMsg);
      }
    });
  })();
</script>
