<h2 class="fs-4">Equipes</h2>
<hr />
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a
      href="/pages{{ url_for('movimento.index') }}"
      class="btn btn-primary"
      data-link
      >Voltar</a
    >
    <a
      href="/pages{{ url_for('movimento.nova_equipe', id_movimento=id_movimento) }}"
      class="btn btn-primary"
      data-link
      >+ Nova</a
    >
  </div>
</nav>
<div class="d-flex flex-wrap justify-content-evenly">
  {% if items %} {% for item in items %}
  <div class="card m-3" style="width: 18rem">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">{{ item.nome }}</h5>
        <a
          class="btn btn-sm"
          href="/pages{{ url_for('movimento.editar_equipe', id_movimento=id_movimento, id_equipe=item.id)}}"
          data-link
        >
          <i class="fas fa-pen"></i>
        </a>
      </div>
      <p class="card-text">{{ item.descricao }}</p>
    </div>
  </div>
  {% endfor %} {% else %}
  <div class="data-not-found py-3">
    <h1>Nenhum dado encontrado...</h1>
  </div>
  {% endif %}
</div>
