<div class="d-flex justify-content-between">
  <h2 class="fs-4">Cadastro de Evento</h2>
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="/pages{{ url_for('movimento.index')}}" data-link>Movimentos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <a
          href="/pages{{ url_for('encontro.events', _id=encontro.id) }}"
          data-link
          >Eventos</a
        >
      </li>
      <li class="breadcrumb-item active" aria-current="page">Novo Evento</li>
    </ol>
  </nav>
</div>
<hr />
<form
  action="{% if form.id.data %}{{ url_for('encontro.edit', id=form.id.data) }}{% else %}{{ url_for('encontro.register_event', _id=encontro.id) }}{% endif %}"
  target="/pages{{ url_for('encontro.events', _id=encontro.id) }}"
  method="post"
  novalidate
>
  {{ form.csrf_token }} {% if form.id.data %}
  <input type="hidden" name="id" id="iptId" value="{{ form.id.data }}" />
  {% endif %}
  <div class="row g-3">
    <div class="col-md-6">
      <label for="iptNome" class="form-label">Nome</label>
      <input
        type="text"
        value="{% if form.nome.data %}{{ form.nome.data }}{% endif %}"
        name="nome"
        class="form-control"
        id="iptNome"
      />
    </div>
    <div class="col-md-6">
      <label for="iptTema" class="form-label">Tema</label>
      <input
        type="text"
        value="{% if form.tema.data %}{{ form.tema.data }}{% endif %}"
        name="tema"
        class="form-control"
        id="iptTema"
      />
    </div>
  </div>
  <div class="row g-3">
    <div class="col-md-6">
      <label for="iptAno" class="form-label">Ano</label>
      <input
        type="number"
        value="{% if form.nome.data %}{{ form.nome.data }}{% endif %}"
        name="ano"
        class="form-control"
        id="iptAno"
      />
    </div>
  </div>
  <hr class="my-4" />
  <div class="row g-3">
    <div class="col-6">
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a
          href="/pages{{ url_for('encontro.events', _id=encontro.id) }}"
          style="width: 100px"
          class="btn btn-secondary"
          type="button"
          data-link
          >Cancelar</a
        >
      </div>
    </div>
    <div class="col-6">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          type="submit"
          style="width: 100px"
          class="btn btn-dark"
          type="button"
        >
          Salvar
        </button>
      </div>
    </div>
  </div>
</form>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const form = document.querySelector("form");
    const formValidations = [
      {
        selector: "#iptNome",
        validations: [
          { handler: isRequired, message: "Por favor informe o nome" },
        ],
      },
      {
        selector: "#iptTema",
        validations: [
          { handler: isRequired, message: "Por favor informe o tema" },
        ],
      },
      {
        selector: "#iptAno",
        validations: [
          { handler: isRequired, message: "Por favor informe o ano" },
        ],
      },
    ];

    form.addEventListener("submit", (event) => {
      event.preventDefault();
      event.stopPropagation();
      event.target.classList.add("was-validated");
      const itemId = event.target.querySelector("#iptId");
      const successMsg = itemId
        ? "Evento atualizado com sucesso"
        : "Evento criado com sucesso";

      if (validateForm(formValidations)) {
        sendFormData(event.target, successMsg);
      }
    });
  })();
</script>
