{% import 'macros/pagination.html' as macros %}
<div class="d-flex justify-content-between">
  <h2 class="fs-4">Casais Cadastrados</h2>
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Casais</li>
    </ol>
  </nav>
</div>
<hr />
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div>
      {% if back_link %}
      <a href="/pages{{ back_link }}" class="btn btn-outline-primary me-2" data-link
        ><i class="fa-solid fa-arrow-left"></i></a
      >
      {% endif %}
      <a
        href="/pages{{ novo_link }}"
        class="btn btn-primary"
        data-link
        >+ Novo</a
      >
    </div>
    <form
      id="frmPesquisa"
      action="/pages{{ url_for('casal.index')}}"
      class="d-flex"
      role="search"
    >
      <input type="hidden" name="inscrito" value="{{inscrito}}" />
      <input
        class="form-control me-2"
        type="search"
        name="filtro"
        value="{% if filtro %}{{filtro}}{% else %}{{''}}{% endif %}"
        placeholder="Pesquisar"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>
{% if page.items %}
<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col" class="table-bigger-screen">Esposo</th>
      <th scope="col" class="table-smaller-screen">Esposo/Esposa</th>
      <th scope="col" class="table-bigger-screen">Telefone</th>
      <th scope="col" class="table-bigger-screen">Esposa</th>
      <th scope="col" class="table-bigger-screen">Telefone</th>
      <th scope="col" class="table-smaller-screen">Telefones</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for casal in page.items %}
    <tr>
      <td class="table-bigger-screen">{{ casal.esposo.apelido }}</td>
      <td class="table-smaller-screen">
        {{ casal.esposo.apelido }}/{{ casal.esposa.apelido }}
      </td>
      <td class="table-bigger-screen">{{ casal.esposo.telefone }}</td>
      <td class="table-bigger-screen">{{ casal.esposa.apelido }}</td>
      <td class="table-bigger-screen">{{ casal.esposa.telefone }}</td>
      <td class="table-smaller-screen">
        {{ casal.esposo.telefone }}/{{ casal.esposa.telefone }}
      </td>
      <td>
        <a
          class="btn btn-sm icon-link icon-link-hover"
          href="/pages{{ edit_link }}/{{ casal.hashid }}"
          data-link
        >
          <i class="fas fa-pen"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="data-not-found py-3">
  <h1>Nenhum dado encontrado...</h1>
</div>
{% endif %}
{{ macros.pagination_widget(page) }}
<script>
  const frmPesquisaCasais = document.getElementById("frmPesquisa");

  frmPesquisaCasais.addEventListener("submit", (evt) => {
    evt.preventDefault();
    evt.stopPropagation();
    sendFormData(evt.target);
  });
</script>
