{% extends "base.html" %}
{% block header %}
<script src="https://kit.fontawesome.com/a04af11849.js" crossorigin="anonymous"></script>
{% endblock %}
{% block main %}
<div class="d-flex vh-100">
    {% include "components/sidebar.html" %}
    <div class="w-100">
        {% include "components/navbar.html" %}
        {% block content %}{% endblock %}
    </div>    
    <!-- <a style="background-color: black;" href="{{ url_for('alunos') }}" class="text-decoration-none px-3 py-2 d-block"><i class="fa fa-users mx-2"></i> Alunos</a> -->
</div>
{% endblock %}